.InfoCard {
  display: flex;
  justify-content: center;
}

.InfoCard .content p:last-child {
  margin-bottom: 1em;
}

.InfoCard h2 {
  color: white;
  text-align: center;
}

.InfoCard .content .title {
  margin: 0;
}

.InfoCard .content {
  text-align: center;
}

.InfoCard .profileImage {
  margin-bottom: 1em;
}
