.Terminal {
  border-radius: 2px;
}

.Terminal > .terminalPlaceholder {
  visibility: hidden;
  position: absolute;
}

.Terminal .ui.segment.attached.inverted {
  border-color: rgba(0, 0, 0, 0);
  box-shadow: none !important;
  font-weight: 700;
  color: #81b3b9;
  border-radius: 2px;  
  background: #23252b;
  overflow-y: auto;
  margin: 0;
}

.Terminal .ui.segment.inverted > .ui.list > .navItem {
  cursor: pointer;
}

.Terminal .ui.segment.inverted > .ui.list > .navItem:hover {
  background: #1d212b;
  padding-left: 2px;
  border-radius: 2px;
}

.Terminal .ui.segment.inverted > .content > div {
  margin-bottom: .5em;
}

.Terminal .currentPath {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
}

.Terminal .meta {
  margin-top: 1em;
  margin-bottom: 1em;
}