.App {}

.App-header {
  padding: 20px;
  color: white;
}
.App-header-wrap {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-body .App-container {
  /*background-color: #060606 !important;*/
  /*border: 1px solid #3b3b3b !important;*/
  /*padding: 1em;*/
}
