body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(10, 7, 21);
  color: white;
}

* {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

h1 {
  font-family: 'Megrim', cursive;
}

h2 {
  font-family: 'Unica One', cursive;
  font-weight: 100;
  font-size: 200%;
}

h3 {
  font-weight: 100;
  font-family: 'Medula One', cursive;
  font-size: 250%;
}

h4 {
  font-family: 'Exo', sans-serif;
  font-size: 125%;
}

h5 {
  font-family: 'Exo', sans-serif;
  font-weight: 200;
  font-size: 120%;
}

h6 {
  font-family: 'Tulpen One', cursive;
  font-weight: 200;
  font-size: 200%;
  margin: 1em auto;
}

code {
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
}
