body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#180028+0,000000+100 */
  background: #180028; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #180028 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #180028 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #180028 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#180028', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

* {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

h1 {
  font-family: 'Megrim', cursive;
}

h2 {
  font-family: 'Unica One', cursive;
  font-weight: 100;
  font-size: 200%;
}

h3 {
  font-weight: 100;
  font-family: 'Medula One', cursive;
  font-size: 250%;
}

h4 {
  font-family: 'Exo', sans-serif;
  font-size: 125%;
}

h5 {
  font-family: 'Exo', sans-serif;
  font-weight: 200;
  font-size: 120%;
}

h6 {
  font-family: 'Tulpen One', cursive;
  font-weight: 200;
  font-size: 200%;
  margin: 1em auto;
}

code {
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
}
